@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* default background/foreground */
    --background: 0 0% 100%;
    --foreground: 0 6% 9%;

    /* primary */
    --primary-lightest: 221 29% 96%;
    --primary-lightest-foreground: 0 6% 9%;

    --primary: 0 6% 9%;
    --primary-foreground: 24 100% 50%;

    --primary-dark: 0 0% 0%;
    --primary-dark-foreground: 0 0% 100%;

    /* secondary */
    --secondary-lightest: 24 100% 95%;
    --secondary-lightest-foreground: 0 6% 9%;

    --secondary: 24 100% 50%;
    --secondary-foreground: 0 6% 9%;

    --secondary-dark: 14 64% 38%;
    --secondary-dark-foreground: 0 6% 9%;

    --secondary-dark-variant: 215 100% 50%;
    --secondary-dark-variant-foreground: 0 6% 9%;

    /* grey scale */
    --light-grey: 239 9% 80%;
    --light-grey-foreground: 0 6% 9%;

    --dark-grey: 238 2% 38%;
    --dark-grey-foreground: 0 6% 9%;

    /* semantic colors */
    --muted: 241 3% 72%;
    --muted-foreground: 0 6% 9%;

    --accent: 227 36% 98%;
    --accent-foreground: 0 6% 9%;

    --destructive: 13 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --success: 152 69% 31%;
    --success-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    /* borders */
    --border-light: 227 13% 92%;
    --border: 240 4% 61%;
    --border-dark: 338 2% 38;
    --border-darkest: 0 6% 9%;
    --input: 240 4% 61%;
    --ring: 240 4% 61%;

    /* radius */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}